.app-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-gradient);
  overflow: hidden;
  position: relative;
}

.app-layout-inner {
  width: 95%;
  height: 92%;
  max-width: 1400px;

  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 2rem;

  backdrop-filter: blur(40px);
}
